<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header') %>
    
    <meta name="keywords" content="ram, memoria ram, memoria acceso volatil, cambio memoria ram, tipos memoria ram" />
    <meta name="description" content="Memoria ram" />
    <title>gestion de la memoria DDR4 | tipos de memoria ram DDR4</title>

    <!--facebook-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v8.0&appId=369303940902742&autoLogAppEvents=1" nonce="CfC5DtWh"></script>
    <%- include('../partials/pixel') %>
    </head>

<%- include('../partials/main') %>
<%- include('../partials/logo') %>

<div class="container-fluid">
    <div class="row">
        <!--texto lateral izquierdo-->
        <div class="col-sm-12 col-md-2"></div>

        <!--texto central-->
        <div class="col-sm-12 col-md-8">
            <div class="mt-4">
                <img src="/img/ssd/hard-dis.jpg" alt="disco duro" class="rounded mx-auto d-block foto-respon">
            </div>
            <div class="my-4">
                <h2 class="text-center l-black">Discos Duros</h2>
            </div>

            <div class="box-white">
                
                <p>
                    Los discos duros son dispositivos imprescindibles tanto en computadoras como en otro tipo de máquinas, que por la naturaleza de construcción de dicha maquina son también necesarios, ejem impresoras láser, fotocopiadoras, aparatos médicos, video grabadoras de vigilancia, etc. De manera que no solo en nuestras computadoras están presentes.
                </p>
                <h3 class="text-center l-black my-5">¡Pero!  ¿Qué es un disco duro?  </h3>
                <img src="/img/ssd/hdd diagrama.jpg" class="foto-min ml-5 mb-2 mr-3" alt="diagrama disco duro">
                <p class="">
                    Un disco duro es un dispositivo de almacenamiento de datos que utiliza un sistema de grabación magnética, para guardar y recuperar los archivos de forma digital. Dichos dispositivos están formados por 2 o 4 platos, similar a los CD, recubiertos con un material magnético, los platos están unidos por un mismo eje, de manera que, al girar el motor, todos los platos giran conjuntamente. El disco también cuenta con un conjunto de brazos paralelos a los platos con unas cabezas lectoras que hacen un movimiento del centro al borde del plato. De manera, si tenemos un disco de 4 platos, vamos a tener 4 brazos cada uno con 2 cabezas dando un total de 8 cabeza. Gracias a este diseño es que los discos duros alcanzan grandes velocidades de escritura/lectura ya que un archivo pasa por las 8 cabezas al mismo tiempo generando un nuevo concepto llamado sector y pistas.
                </p>
                <p>
                    Los discos duros tienen una construcción robusta en metal que los hace idóneos para conservar los datos por muchos años, están construidos al vacío y prácticamente si se llega a desarmar uno, este queda inservible ya que las distancias entre platos y cabezal son muy pequeñas y cualquier mota de polvo puede afectar su desempeño y la entrada de aire afecta sus revoluciones.
                </p>
                <p>
                    Actualmente los discos duros modernos tienen revoluciones cercanas a los 7200 rpm y es normal ver discos con revoluciones de 5400rpm, pero es importante tener en cuenta que entre mas revoluciones tenga el disco más rápido será en acceder a los datos.
                </p>
            </div>

            <div class="box-white">
                <h5 class="text-center l-black my-5">La siguiente tabla muestra los rangos típicos de lectura/escritura correspondientes a los hdd </h5>

                <table class="table table-dark">
                    <thead>
                      <tr>
                        
                        <th scope="col"></th>
                        <th scope="col">Lectura</th>
                        <th scope="col">Escritura</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td>Disco SATA III de 5400 RPM</td>
                        <td>102 MB/s</td>
                        <td>96 MB/s</td>
                      </tr>
                      <tr>
                        
                        <td>Disco SATA III de 7200 RPM</td>
                        <td>196 MB/s</td>
                        <td>154 MB/s</td>
                      </tr>
                      <tr>
                      
                        <td>SSD SATA 3</td>
                        <td>430 MB/s</td>
                        <td>412 MB/s</td>
                      </tr>
                    </tbody>
                  </table>
                  <h6 class="text-center">
                      <em>Notar como los SSD superan por mucho a los discos duros</em> 
                  </h6>

                  <h3 class="text-center l-black my-5">Diferencias entre SATA II vs. SATA III  </h3>
                  <P>
                      <strong>SATA I</strong> Esta interfaz cuenta con una taza de transferencia de 1.5 Gb , fue la primera en surgir, y cuenta con un ancho de banda de 150MB/s.
                  </P>
                  <p>
                      <strong>SATA II</strong> Esta interfaz es conocida como <strong>SATA 3GB/s</strong>, cuenta con una interfaz de 3GB/s y un ancho de banda de 300MB/s.
                  </p>
                  <p>
                      <strong>SATA III</strong> Esta interfaz es conocida como <strong>SATA 6GB/s</strong>, esta es la tercera generacion y cuenta con una interfaz de 6GB/s y un ancho de banda de 600MB/s.
                  </p>
                  <p class="my-5">
                      <em>
                        Es importante reconocer que interfaz cuenta nuestra tarjeta madre, y asi comprar el disco mas optimo, ya que si conectamos un SSD SATA III con velocidad secuencial de 600MB/s a una interfaz SATA II, nuestro disco trabajaria a 300MB/s y no 600MB/s.
                      </em>
                      
                  </p>
                  <p>
                      Normalmente las tarjetas cuentan al menos con una interfaz SATA III, esta seria la idonea para el disco que maneja el sistema operativo.
                  </p>

            </div>

            <%- include('../add/ssd2-hori') %>

             <div class="box-white">
                <h3 class="text-center l-black mt-2">Disco de estado solido SSD  </h3>
                <small id="emailHelp" class="form-text text-muted text-center mb-3">Aparicion de los SSD</small>
                <img src="/img/ssd/storage-sandis.jpg" class="foto-respon mb-5" alt="disco de estado solido">
                <p>
                    La historia dicta que los primeros discos de estado solido aparecieron en el año de 1950 desarrollados con dos tecnología llamadas memoria de núcleo magnético y CCROS. Ya para 1980 comenzaron a utilizarse en supercomputadores con precios exagerados.
                </p>
                <p>
                    No fue hasta los años 2000 que los ssd presentaron grandes mejoras relacionado con la vida útil ya que los primeros contaban con una vida útil baja, esto le dio un nuevo empuje hacia el mercado de consumo.
                </p>
                <h5 class="text-center l-black my-5">Partes principales </h5>
                <p>
                    Cuando adquirimos una unidad de estas, lo mas importante es saber su capacidad y elegir una que se adapte a nuestras necesidades de trabajo, también tenemos que tener en cuenta su forma física, su conector y su protocolo de comunicación
                </p>
                <div>
                    <!--acordeon-->
                    <div class="accordion mx-5 my-5" id="accordionExample">

                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left l-black-n" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               <strong>Formato físico</strong> 
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Las unidades de estado sólido tienen la misma forma que los discos duros convencionales (HDD) en formato 2.5 pulgadas  para el mercado de consumo, para entornos empresariales también 3.5 pulgadas y el formato mini-sata, llamado también m-sata, que es una pequeña tarjeta de 30 mm de ancho y 50.95 mm de largo. <br>
                                En la actualidad se ha incorporado un nuevo formato llamado M.2 que tiene un ancho de 22 mm y varias longitudes, de acuerdo al largo recibe su nombre: <br>
                                M.2 2280, donde M.2 representa el formato, el 22 representa el ancho y el 80 el largo, todo en mm. <br>
                                M.2 2230 <br>
                                M.2 2242 <br>
                                M.2 2260
                                
                            </div>
                          </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed l-black-n" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  <strong>Interfaz física</strong>  
                                </button>
                              </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                              <div class="card-body">
                                Las unidades de estado sólido tienen la misma forma que los discos duros convencionales (HDD) en formato 2.5 pulgadas  para el mercado de consumo, para entornos empresariales también 3.5 pulgadas y el formato mini-sata, llamado también m-sata, que es una pequeña tarjeta de 30 mm de ancho y 50.95 mm de largo. <br>
                                En la actualidad se ha incorporado un nuevo formato llamado M.2 que tiene un ancho de 22 mm y varias longitudes, de acuerdo al largo recibe su nombre: <br>
                                M.2 2280, donde M.2 representa el formato, el 22 representa el ancho y el 80 el largo, todo en mm. <br>
                                M.2 2230 <br>
                                M.2 2242 <br>
                                M.2 2260
                              </div>
                            </div>
                          </div>

                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed l-black-n" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <strong>Conector físico</strong> 
                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Existen distintos conectores físicos utilizados en las SSD, y cada uno está ligado a una interfaz de bus. Por ejemplo, las SSD doméstica de 2.5 pulgadas usan un conector SATA para usar SATA3 como si fueran un disco duro, mientras que la especificación M.2 determina una serie de formatos para los contactos del conector en función de si el bus es SATA3 o PCIe. Existe también el conector SATA Express (SATA 3.2) que usa una interfaz de bus PCIe ×2, y el U.2 que también usa PCIe; suelen ser usados en unidades con formato de disco de 2.5 o 3.5 pulgadas.
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed l-black-n" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                               <strong>Protocolo de comunicación</strong> 
                              </button>
                            </h2>
                          </div>
                          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                La interfaz de comunicación es la forma en la que se transmiten los datos a nivel físico entre la unidad de estado sólido y la placa madre. Principalmente se usan: AHCI que está ligada a Serial ATA, y NVMe que está ligado a PCIe. <br>
                                En el caso de AHCI, el envío se realiza con una gran pérdida de bus útil al hacer una codificación 8b/10b (ocho bits de carga útil son diez bits enviados), mientras que NVMe tiene una codificación 128b/130b, por lo que se desperdicia menos ancho de bus en la transmisión de información. Debido a ello la velocidad máxima real de SATA3 es de 600 MB/s aunque la teórica es de 750 MB/s. En el caso de PCIe, la velocidad máxima real de una conexión PCIe 3.0 ×1 sería de 984 MB/s.
                                
                            </div>
                          </div>
                        </div>

                      </div>
                      <!--fin acordeon-->
                
                </div>

            <p>
                Hoy en día las unidades SSD están desplazando los discos duros convencionales por sus altísimas prestaciones en cuanta a velocidad de lectura y escritura, siempre recomiendo a las personas a reemplazar tu disco duro por un SSD y notaran la diferencia desde el inicio ya que el computador arranca de forma inmediata, comparando los minutos eternos del los discos convencionales, la carga de aplicaciones como office es veloz e <strong>impresionante</strong> , y no tienes que deshacerte de tu viejo disco duro ya que lo puedes dejar en tu pc como backup o utilizarlo para almacenar datos como fotos, videos, ect.
            </p>

            <img src="/img/hdd/sata.png" class="foto-respon mt-5" alt="disco de estado solido">



          </div>
          <div class="box-white">
            <h5 class=" l-black ml-5">Fuentes</h5>
            <a href="https://pixabay.com/es/" target="_blank" rel="noopener" class="ml-5">Pixabay.com</a> <br>
            <a href="https://es.wikipedia.org/wiki/Unidad_de_estado_s%C3%B3lido" target="_blank" rel="noopener" class="ml-5">wikipedia.org</a>
            
        </div>

        <%- include('../add/ssd-hori') %>

        </div>







      </div>
        <!--texto lateral derecho-->

        

        <div class="col-sm-12 col-md-2"></div>
</div>
    









<%- include('../partials/footer') %>