<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header') %>
    <meta name="keywords" content="GPS, mapa sin internet, ciclismo gps, mapa bicicleta sin cobertura"/>
    <meta name="description" content="Mapas con GPS sin coneccion"/>
    <title>mapas sin conexión</title>
    
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v8.0&appId=369303940902742&autoLogAppEvents=1" nonce="53J1kgyk"></script>
    <%- include('../../partials/pixel') %>
</head>

<%- include('../../partials/main') %>
<%- include('../../partials/logo') %>

<div class="container-fluid">
    <div class="row">
        <!--texto lateral izquierdo-->
        <div class="col-md-2 col-sm-12"></div>
        
        



        <!--texto centarl-->
        <div class="col-md-8 col-sm-12">

        <h1 class="l-black mt-5 text-center">Mapas GPS sin conexión </h1>
        <div class="mt-4">
            <img src="/img/mapsme/mountain-gps.jpg" alt="GPS" class="rounded mx-auto d-block foto-respon">
        </div>

        <div class="h3-color-boton">
            <h4 class="text-center l-black">Te imaginas salir con tu bici y usar tu tefefono celular como GPS sin conexión</h4>
        </div>

        <div class="box-white">
            <p>
                Eres de las personas amantes de los <em>deportes con seguimientos GPS</em> , pero te estresas cuando te quedas sin conexión a internet o estas en una zona sin cobertura celular. No te preocupes ya que existen muchas soluciones para ti. En este articulo te comentare sobre una, que para mi es una de las mejores, ya que cumple con lo que dice, es gratis y la cantidad de anuncios es muy tolerable ya que no nos damos cuenta de los mismos. (muy limpia).
            </p>
            
            <p>
                Les comentare sobre <a href="https://maps.me/#gsc.tab=0" target="_blank" rel="noopener">Maps.me</a>  una aplicación que se encuentra disponible en la tienda de <strong>Google Play Store</strong> , ¡y que ofrece un servicio espectacular y créeme funciona!
            </p>

            <p>
                Cuantas veces hemos descargado aplicaciones de seguimiento gps y después de probarla terminamos desinstalándola porque no funciona o simplemente esta cargada de anuncios molestos he invasivos.
            </p>
        </div>
            <h4 class="text-center mt-3 h3-color-boton l-black">Proceso de instalacion</h4>
        <div class="box-white">
            <p>
                Lo primero que tenemos que hacer es descargar dicha aplicación, te dejo el <a href="https://play.google.com/store/apps/details?id=com.mapswithme.maps.pro&hl=en&gl=US" target="_blank" rel="noopener">link para la descarga directa de la tienda de Play Store</a>     y procedemos a la instalación, luego iniciamos el app y aceptamos la política de privacidad y los términos de uso.
            </p>

            <p>
                Una vez dentro de la app, nos dirigimos al menú, que se representa con tres rayas horizontales un sobre la otra, luego pinchamos sobre el texto descarga de mapas(como se muetra en la figura 2), le damos al botón de  +  y ahí seleccionamos nuestro país, y esperamos que nuestro mapa se descargue completamente.
            </p>

            <div class="d-flex justify-content-center">
                
                <img src="/img/mapsme/map8.jpg" class="foto-respon-item" alt="maps instalacion">
                
                <img src="/img/mapsme/map2.jpg" class="foto-respon-item" alt="maps instalacion">
                
            </div>

           
            <p>
                Cuando queremos iniciar un viaje, tan solo tenemos que mantener pulsado el dedo sobre la pantalla en el punto donde queremos iniciar el viaje he inmediatamente se activa un submenú
            </p>
            <div >
                <img src="/img/mapsme/submenu.png" alt="" class="rounded mx-auto d-block  foto-respon-80">
            </div>

            <div class="d-flex justify-content-center">
                <img src="/img/mapsme/map5.jpg" class="foto-respon-item" alt="maps instalacion">
                <img src="/img/mapsme/map11.jpg" class="foto-respon-item" alt="maps instalacion">
            </div>
                
            
        </div>

        <%- include('../../add/cel-hori') %>

        <div class="box-white">
            <p class="text-center l-black">
                Aquí tenemos dos opciones
            </p>
            <p>
                1- <strong>Ruta hasta:</strong>	 si seleccionamos esta opción la app nos calcula la ruta actual del GPS a la señalaba previamente en el mapa y seleccionamos el botón de empezar. Esta es la opción más rápida ya que solo seleccionamos el punto destino, y la app hace lo demás.
            </p>
            <p>
                2- <strong>Desde:</strong>	 con esta selección podemos definir un punto de inicio diferente al que estamos actualmente y para iniciar el viaje seleccionamos otra vez Ruta hasta.
            </p>

            <p>
                También podemos iniciar ruta seleccionando los binoculares y seleccionando una de las zonas ya definidas por la aplicación.
            </p>

            <p>
                Tambien  podemos guardar copias de nuestros marcadores en la nube, sincronizando con una cuenta de Google o Facebook, es como registrarnos en la app.
            </p>
            <p>
                Realmente esta aplicación esta cargada con muchas soluciones practicas que nos pueden ayudar a gestionar bien nuestras salidas.
            </p>
        </div>

        <%- include('../../add/ssd-hori') %>



        <div class="box-white ">
            <h5 class="text-center l-black">Te dejo algunas capturas de la aplicacion para que te animes.</h5>

            <div class="d-flex justify-content-center">
                <img src="/img/mapsme/map3.jpg" class="foto-respon-item" alt="maps instalacion">
                <img src="/img/mapsme/map6.jpg" class="foto-respon-item" alt="maps instalacion">
            </div>

            <div class="d-flex justify-content-center">
                <img src="/img/mapsme/map7.jpg" class="foto-respon-item" alt="maps instalacion">
                <img src="/img/mapsme/map9.jpg" class="foto-respon-item" alt="maps instalacion">
            </div>

            <div class="d-flex justify-content-center">
                <img src="/img/mapsme/map10.jpg" class="foto-respon-item" alt="maps instalacion">
                <img src="/img/mapsme/map1.jpg" class="foto-respon-item" alt="maps instalacion">
            </div>


        </div>

        <%- include('../../add/ssd2-hori') %>        

        <div class="box-fb mt-5">
            <h5 class="text-center l-green">Dejanos tus comentarios</h5>
            <div class="fb-comments" data-href="https://www.hardsof.com/mobil/sofware/mapme" data-numposts="5" data-width="100%"></div>
        </div>

        <div class="my-5">
            <h5 class="text-center">Fuentes</h5>
            <h6 class="text-center">Algunas imagenes que se presentan en esta pagina son descargadas del sitio: <a href="https://pixabay.com/es/" target="_blank" rel="noopener">Pixabay.com</a>  </h6>
        </div>


        </div>

        

        











        <!--texto lateral derecho-->
        <div class="col-md-2 col-sm-12"></div>

    </div>
</div>











<%- include('../../partials/footer') %>