<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header') %>
   

    <meta name="description" content="Brindar información útil a las personas referente a tecnología." />
    <meta name="author" content="Jerry Badilla Diaz" />
    <meta name="copyright" content="Jerry Badilla Diaz" />
    <title>Inicio hardsof</title>
 
    <%- include('partials/pixel') %>
</head>

<%- include('partials/main') %>
<%- include('partials/logo') %>



<div class="container-fluid">
    <div class="row">
        <!--texto lateral izquierdo-->
        <div class="col-md-2 col-sm-12"></div>

        <!--texto centarl-->
        <div class="col-md-8 col-sm-12">

            <!--recuadro pagina principal 1-->
            <div class="my-5">
              <div class="card mb-6 mx-auto" style="max-width: 100%;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <a href="/windows/sofware/crear_usuario_invitado_windows"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604796278/usuario/windows-10_gocthc.jpg" class="card-img" alt="windows user"></a>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h4 class="card-title text-center"></h4>
                        <p class="card-text">Las cuentas de usuario son espacios de trabajo físicos dentro de un sistema operativo, que tienen como función separar todos los usuarios y sus respectivas carpetas de trabajo, de este modo se garantiza la privacidad de los usuarios, ya que comparten el mismo equipo.</p>
                        <p class="card-text"><small class="text-muted"><a href="/windows/sofware/crear_usuario_invitado_windows"> Segir leyendo... </a></small></p>
                      </div>
                    </div>
                  </div>
                </div>
          </div>



            <div class="my-5">
              <div class="card mb-6 mx-auto" style="max-width: 100%;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <a href="/hardware/disco_duro"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604965412/basico/hard-dis_b63381.jpg" class="card-img" alt="mapa gps"></a>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h4 class="card-title text-center"></h4>
                        <p class="card-text">Los discos duros son dispositivos imprescindibles tanto en computadoras como en otro tipo de máquinas, que por la naturaleza de construcción de dicha maquina son también necesarios, ejem impresoras láser, fotocopiadoras, aparatos médicos, video grabadoras de vigilancia, etc.</p>
                        <p class="card-text"><small class="text-muted"><a href="/hardware/disco_duro"> Segir leyendo... </a></small></p>
                      </div>
                    </div>
                  </div>
                </div>
          </div>





            <div class="my-5">
                <div class="card mb-6 mx-auto" style="max-width: 100%;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <a href="/mobil/sofware/mapme"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604965365/basico/mountain-gps_fhoygm.jpg" class="card-img" alt="mapa gps"></a>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title text-center"></h4>
                          <p class="card-text">Eres de las personas amantes de los <em>deportes con seguimientos
                            GPS</em> , pero te estresas cuando te quedas sin conexión a internet o estas en una zona sin
                        cobertura celular. No te preocupes ya que existen muchas soluciones para ti. En este articulo te
                        comentare sobre una, que para mi es una de las mejores, ya que cumple con lo que dice, es gratis
                        y la cantidad de anuncios es muy tolerable ya que no nos damos cuenta de los mismos. (muy
                        limpia).</p>
                          <p class="card-text"><small class="text-muted"><a href="/mobil/sofware/mapme"> Segir leyendo... </a></small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            
             <!--recuadro pagina principal 2-->
             <div class="my-5">
                <div class="card mb-6 mx-auto" style="max-width: 100%;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <a href="/mobil/hardware/smartGM"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604965398/basico/mobile-1_cgrpoq.jpg" class="card-img" alt="TELEFONO"></a>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title text-center"></h4>
                          <p class="card-text">Los teléfonos de gama media son siempre una opción para muchas de las
                            personas, ya sea porque no pueden o no quieren pagar caprichos por un teléfono de gama alta, que
                            al fin y al cabo todo ese potencial no se aprovecha como debe ser, por lo general usamos nuestro
                            teléfono para tareas básicas como llamar, enviar msj por las aplicaciones ya conocidas, eje:
                            WhatsApp, mirar Facebook y tomar fotografías. Y eso lo hace cualquier teléfono en la actualidad.</p>
                          <p class="card-text"><small class="text-muted"><a href="/mobil/hardware/smartGM"> Segir leyendo... </a></small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

             <!--recuadro pagina principal 3-->
             <div class="my-5">
                <div class="card mb-6 mx-auto" style="max-width: 100%;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <a href="/hardware/ssd"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604965341/basico/hdd-3_o3z6ea.jpg" class="card-img" alt="SSD"></a>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title text-center"></h4>
                          <p class="card-text">Uno de los principales problemas que tienen los computadores, tanto laptops
                            como Desktop es la
                            velocidad de acceso al disco duro; dicha velocidad es muy importante a la hora de acceder a
                            documentos como programas, siendo esta una de las principales causas de lentitud de las
                            computadoras.</p>
                          <p class="card-text"><small class="text-muted"><a href="/hardware/ssd"> Segir leyendo... </a></small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="my-5">
              <div class="card mb-6 mx-auto" style="max-width: 100%;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <a href="/hardware/ram"> <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604965386/basico/ram_gymfne.jpg" class="card-img" alt="SSD"></a>  
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h4 class="card-title text-center"></h4>
                        <p class="card-text">La memoria ram es ese componente que mucho de nosotros no conocemos, pero es de suma importancia para los dispositivos tanto computadoras como teléfonos celulares ya que por ella pasa todas las instrucciones y datos necesarios para que  funcione nuestro dispositivo, hemos visto como en los últimos años este numero ha aumentado en capacidad, para satisfacer las necesidades de los usuarios, ya que entre más memoria ram, más rápido se vuelve nuestro dispositivo.</p>
                        <p class="card-text"><small class="text-muted"><a href="/hardware/ram"> Segir leyendo... </a></small></p>
                      </div>
                    </div>
                  </div>
                </div>
          </div>

          

           

         
         



        </div>






        <!--texto lateral derecho-->
        <div class="col-md-2 col-sm-12">

        </div>




    </div>
</div>





<%- include('partials/footer') %>


