<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/header') %>
    <meta name="keywords" content="one drive" />
    <meta name="description" content="como activar one drive, como usar one drive" />
    <title> Como activar one drive | Microsof One Drive</title>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v8.0&appId=369303940902742&autoLogAppEvents=1"
        nonce="CfC5DtWh"></script>
    <%- include('../../partials/pixel') %>
</head>


<%- include('../../partials/main') %>
<%- include('../../partials/logo') %>

<div class="row backcolor-celeste">
    <div class="">

        <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605672690/onedrive/one-drive-group3_iygzp3.png"
            alt="one drive en windows 10" class="foto-respon">

    </div>
</div>

<div class="row backcolor-turquesa box-600">
    <div class="container my-5">
        <h1 class="text-center mb-5 ">Como activar One Drive en Windows 10</h1>
        <h5 class="ml-2 l-blue-n mb-4 ml-5">Primeros pasos</h5>
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="mb-5">

                    <p class="size-p">
                        1- Lo primero que tenemos que hacer, es <em>buscar el icono de la nube</em> que se encuentra en
                        la parte inferior derecha, como se muestra en la figura de abajo.
                        Si el icono de la nube se encuentra con una raya diagonal, significa que tenemos el sistema de
                        <strong>one drive</strong> desactivado.

                    </p>
                    <p class="size-p">
                        2- Procedemos a darle doble click a dicho icono.
                    </p>

                </div>
                <div class="">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605636456/onedrive/onedrive-1_vstsww.jpg"
                        alt="one drive mobil" class="foto-respon " class="mx-auto">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-celeste box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="mb-5">

                    <p class="size-p">
                        3- Al dar doble clik, se despliega el siguiente recuadro y damos clic a iniciar session.

                    </p>


                </div>
                <div class="">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605636457/onedrive/onedrive-iniciarsecion_sr0sdw.png"
                        alt="one drive inicio" class="foto-respon " class="mx-auto">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-turquesa box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="mb-5">

                    <p class="size-p">
                        4-Rellenamos la casilla con nuestra direccion de correo.
                    </p>

                    <p class="size-p">
                        <strong>Nota</strong>
                        <em>Recuerda que solo funciona con direcciones de correo de microsoft</em>
                    </p>
                    <p class="size-p">
                        <strong>Ejemplo</strong>
                    </p>

                    <p class="size-p">
                        hotmail.com <br>
                        outlook.com <br>
                        live.com
                    </p>
                    <p class="size-p">
                        5- Damos clic al boton de iniciar sesion.
                    </p>


                    </p>


                </div>
                <div class="">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605636459/onedrive/onedrive-ini_lf3p8k.png"
                        alt="one drive inicio" class="foto-respon " class="mx-auto">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row backcolor-celeste box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-12 col-sm-12 mx-auto">
                <div class="mb-5 text-center">

                    <p class="size-p">
                        6- Digitamos nuestra contraseña.

                    </p>


                </div>
                <div class="text-center">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605751025/onedrive/one-1_njqzyt.png"
                        class="foto-respon-40">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-turquesa box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="mb-5 text-center">

                    <p class="size-p">
                        7- En esta seccion podemos cambiar a gusto la carpeta destinada a One Drive, pero puedes dejarlo
                        por defecto. Es lo recomendado.

                    </p>


                </div>
                <div class="text-center">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605751026/onedrive/one-2_tkafgj.png "
                        class="foto-respon-40">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-celeste box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="mb-5 text-center">

                    <p class="size-p">
                        8- En esta seccion marcamos las carpetas que queremos sincronizar de forma automatica.

                    </p>


                </div>
                <div class="text-center">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605751026/onedrive/one-3_io29pe.png"
                        class="foto-respon-40 ">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-turquesa box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="mb-5 text-center">

                    <p class="size-p">
                        9- Si deseas cambiar la cuenta a Premiun, aqui lo podes hacer, para seguir gratis dale a
                        <strong>(ahora no)</strong>

                    </p>


                </div>
                <div class="text-center">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605751027/onedrive/one-4_kylwb1.png"
                        class="foto-respon-40 ">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-celeste box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="mb-5 text-center">

                    <p class="size-p">
                        10- Damos a siguiente.

                    </p>


                </div>
                <div class="text-center">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605751026/onedrive/one-5_mvw0k5.png"
                        class="foto-respon-40 ">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-turquesa box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="mb-5 text-center">

                    <p class="size-p">
                        11- Damos en mas tarde...

                    </p>


                </div>
                <div class="text-center">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605751026/onedrive/one-6_fm5fzp.png"
                        class="foto-respon-40 ">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-celeste box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="mb-5">

                    <p class="size-p text-center">
                        12- Llegamos al final. Y damos <strong>abrir mi carpeta de one drive</strong>

                    </p>


                </div>
                <div class="text-center">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605751026/onedrive/one-7_fkux0l.png"
                        class="foto-respon-40 ">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-turquesa box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="mb-5">

                    <p class="size-p">
                        13- Ya podemos ver los documentos y carpetas sincronizadas

                    </p>
                    <p class="size-p">
                        De forma manual podes mover los archivos que desee a esta carpeta para que se gurden en la nube,
                        y si ya tienes instalada la aplicacion mobil tambien los puedes ver de ahi.

                    </p>


                </div>
                <div class="">
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605636455/onedrive/one-drive-final_tlgpzx.png"
                        class="foto-respon mx-auto ">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <%- include('../../partials/coment') %>


</div>

<div class="">
    <%- include('../../masnotas') %>
</div>



<%- include('../../partials/footer') %>