<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/header') %>
    <meta name="keywords" content="one drive android" />
    <meta name="description" content="como activar one drive, como usar one drive" />
    <title> Como activar one drive en android | Microsof One Drive Android</title>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v8.0&appId=369303940902742&autoLogAppEvents=1"
        nonce="CfC5DtWh"></script>
    <%- include('../../partials/pixel') %>
</head>


<%- include('../../partials/main') %>
<%- include('../../partials/logo') %>

<div class="row backcolor-celeste one-mobil ">
    <div class=" ">

        <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833047/onedrive/ONEDRIVE-MOBIL_z7dfqh.png"
            alt="" class="foto-respon">



    </div>
</div>

<div class="row backcolor-turquesa box-600">
    <div class="col-md-12 border-b mb-5">
            <h1 class="text-center l-black mt-5 mb-5 ">Como activar One Drive en Android</h1>
    </div>
    
    <div class="container my-5">
 
        <div class="row">

            <div class="col-md-3 col-sm-12">
                <p class="size-p my-5">
                    1-Como primer punto, necesitamos descargar la aplicacion de la tienda de <strong>
                        <a href="https://play.google.com/store/apps/details?id=com.microsoft.skydrive" target="_blank"
                            rel="noopener">Google play</a> </strong>
                </p>
            </div>


            <div class="col-md-3 col-sm-12 ">
                <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833127/onedrive/one-1_vfbi1k.jpg"
                    alt="" class="foto-respon">
            </div>

            <div class="col-md-3 col-sm-12 ">
                <p class="size-p my-5">
                    2- Si tenemos cuenta de correo con microsoft damos en <em>iniciar sesion.</em> De lo contrario en
                    <em>Registrarse.</em>
                </p>

            </div>

            <div class="col-md-3 col-sm-12 ">
                <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833131/onedrive/one-2_vcaix4.jpg"
                    alt="" class="foto-respon">
            </div>
        </div>
    </div>
</div>


<div class="row backcolor-celeste box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-3 col-sm-12">
                <p class="size-p my-5">
                    3- Digitamos el nombre de correo electronico y pinchamos la icono que apunta a la derecha.
                </p>
            </div>


            <div class="col-md-3 col-sm-12 ">
                <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833131/onedrive/one-3_ojfqqx.jpg"
                    alt="" class="foto-respon">
            </div>

            <div class="col-md-3 col-sm-12 ">
                <p class="size-p my-5">
                    4- Aqui digitamos la contraseña.
                </p>

            </div>

            <div class="col-md-3 col-sm-12 ">
                <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833130/onedrive/one-4_ubz0mh.jpg"
                    alt="" class="foto-respon">
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-turquesa box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-3 col-sm-12">
                <p class="size-p my-5">
                    5- Si tenemos intencion de pasarse a premiun, desde aqui lo podemos hacer, de querer mantener la version gratuita pinchar el icono con una flecha apuntando a la izquierda.
                </p>
            </div>


            <div class="col-md-3 col-sm-12 ">
                <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833131/onedrive/one-5_gfl2bp.jpg"
                    alt="" class="foto-respon">
            </div>

            <div class="col-md-3 col-sm-12 ">
                <p class="size-p my-5">
                    6- Aqui pinchamos <em>MANTENER LA VERSION BASICA</em>
                </p>

            </div>

            <div class="col-md-3 col-sm-12 ">
                <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833131/onedrive/one-6_gcdjtj.jpg"
                    alt="" class="foto-respon">
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-celeste box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-3 col-sm-12">
                <p class="size-p my-5">
                    7- Si activamos la camara, las fotos que tomemos con nuestro telefono, se guardan automatica en la nube.
                    Ya queda a tu eleccion.
                </p>
            </div>


            <div class="col-md-3 col-sm-12 ">
                <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833132/onedrive/one-7_nndaqq.jpg"
                    alt="" class="foto-respon">
            </div>

            <div class="col-md-3 col-sm-12 ">
                <p class="size-p my-5">
                    8- Listo! ya podemos ver las carpetas que anteriormente se crearon en Windows 10.
                    <em><a href="/windows/sofware/one_drive_win10">ver el articulo</a></em>
                </p>

            </div>

            <div class="col-md-3 col-sm-12 ">
                <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833134/onedrive/one-8_tahluw.jpg"
                    alt="" class="foto-respon">
            </div>
        </div>
    </div>
</div>

<div class="row backcolor-turquesa box-600">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-3 col-sm-12">
                <p class="size-p my-5">
                    9- Con el icono <strong>+</strong> podemos tomar fotos, digitalizar, crear carpeta, cargar archivos y crear varios tipos de documentos, como word, excel, ect. Tomar en cuenta que necesitas descargar estas aplicaciones.
                </p>
            </div>


            <div class="col-md-3 col-sm-12 ">
                <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833136/onedrive/one-9_byjyy9.jpg"
                    alt="" class="foto-respon">
            </div>

            <div class="col-md-3 col-sm-12 ">
                <p class="size-p my-5">
                    10- Aqui podemos ver las fotos sincronizadas.
                </p>

            </div>

            <div class="col-md-3 col-sm-12 ">
                <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833134/onedrive/one-10_cay7yl.jpg"
                    alt="" class="foto-respon">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <%- include('../../partials/coment') %>


</div>

<div class="">
    <%- include('../../masnotas') %>
</div>


<%- include('../../partials/footer') %>