<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header') %>
    <meta name="keywords" content="ssd, hdd, slow computer, computadora lenta, cambiar hdd por ssd" />
    <meta name="description" content="Mi computadora esta muy lenta" />
    <title>Computadora lenta | computer slow</title>
    <!--<link rel="stylesheet" href="/css/temabodygray.css" type="text/css">-->
    
    
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v8.0&appId=369303940902742&autoLogAppEvents=1" nonce="CfC5DtWh"></script>
    <%- include('../../partials/pixel') %>
</head>


<%- include('../../partials/main') %>
<%- include('../../partials/logo') %>



<div class="container-fluid">
    <div class="row">
        <!--texto lateral izquierdo-->
        <div class="col-sm-12 col-md-2"></div>


        <!--texto central-->
        <div class="col-sm-12 col-md-8">

                <div class="box-trasp pb-5">
                    <h1 class="l-blue-n mt-5 text-center my-2">Creación de cuentas de usuario en Windows 10 </h1>
                </div>
                <div class="my-4">
                    
                    <img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604796278/usuario/windows-10_gocthc.jpg" alt="windows 10 usuaros" class="rounded mx-auto d-block foto-respon">
                    <p class="my-2">Credito fotografico <strong class="l-green ml-2">Pixabay</strong>
                </div>



                <div class="box-white border-t">
                    <h4 class="text-center l-red-n">¿Sabes que son las cuentas de usuario en Windows, Mac o Linux?</h4>
                </div>

                <div class="box-trasp border-t-tur box-trasp mb-5 border-b">
                    
                    <p>
                        <strong>Las cuentas de usuario</strong>
                         son espacios de trabajo físicos dentro de un sistema operativo, que tienen como función separar todos los usuarios y sus respectivas carpetas de trabajo, de este modo se garantiza la privacidad de los usuarios, ya que comparten el mismo equipo.
                    </p>
                    <p>
                        Las cuentas de usuario se crean con privilegios con el fin de salvaguardar la integridad del equipo, al otorgarle permisos de administrador al dueño del equipo o usuarios con conocimientos informáticos avanzados y los restantes se les asigna cuenta de usuario estándar, donde estos últimos no tienen privilegios para instalar programas.
                    </p>
                    <p>
                        A modo de ejemplo los computadores de nuestros trabajos tienen cuenta de usuario estándar con el fin de que los trabajadores no puedan instalar programas no aptos a la empresa que laboran y vallan a infringir la ley al instalar programas pirateados, pero son capaces de realizar todas las funciones típicas y necesarias.
                    </p>

                </div>
                
                <div class="box-trasp">
                    <h4 class="text-center l-red-n">¿Y el computador de la casa?</h4>
                </div>
                <div class="box-trasp border-b  box-trasp mb-5">
                    
                    <p>
                        También podemos crear cuentas de usuario en nuestro computador de nuestra casa, al ser compartidos la mayoría de veces por nuestros padres y hermanos o hijos. De esta manera hacemos uso del ordenador de una forma más organizada y segura. Y así cada integrante del hogar u oficina puede tener su propio espacio de trabajo con sus configuraciones favoritas.
                    </p>
                </div>

                
                <div class="box-trasp">
                    <h4 class="text-center l-red-n">Tipos de cuentas de usuario</h4>
                </div>
                <div class="box-trasp box-trasp mb-5 border-b">
                    
                    <p>
                        Existen muchos tipos de cuenta de usuario, por esta ocasión vamos a hablar de las más importantes, que a mi juicio son tres:
                    </p>
                    <h4 class="text-center l-blue-n cursive">Cuenta de administrador:</h4>
                    <p>
                        Este tipo de cuenta es la más importante, ya que es el usuario que goza control total del equipo, puede agregar programas, quitar programas, cambiar parámetros de la configuración general del equipo.
                    </p>
                    <p>
                        Es la primera cuenta en crearse cuando estamos en proceso de instalación y es la que gestiona y crea los nuevos usuarios.
                    </p>
                    <p>
                        Nota: en todos los equipos tiene que existir al menos una cuenta de administrador.
                    </p>
                    <h4 class="text-center l-blue-n cursive">Cuenta de usuario estándar:</h4>
                    <p>
                        Con una cuenta estándar, un usuario tiene acceso a toda la funcionalidad del equipo, pero carece de roll si desea hacer cambios en el equipo como instalar, desinstalar programas o pretende realizar una modificación en el sistema.
                    </p>
                    <p>
                        Esta es el tipo de cuenta idóneo para aquellas personas con conocimientos limitados en informática, también esta cuenta es la que tenemos que configurarle a nuestros niños, ya que Windows permite activar características especiales que protegen nuestros niños de sitios no seguros para ello.
                    </p>
                    <h4 class="text-center l-blue-n cursive">Cuenta de invitado:</h4>
                    <p>
                        En Windows existe una cuenta llamada invitado que de forma predeterminada viene desactivada, pero nada difícil activarla y sirve para esas personas que no son parte de la empresa o familia y que por razones diversas necesitan hacer uso de la computadora por poco tiempo.
                    </p>
                    <p>
                        Esta cuenta carece de contraseña y sus privilegios son menores que una cuenta estándar típica, es ideal para navegar por internet de forma anónima.
                    </p>
                </div>


                <div class="box-trasp">
                    <h4 class="text-center l-red-n">Como activar la cuenta estandar en Windows 10</h4>
                </div>

                <div class="box-trasp border-t-tur box-trasp mb-5  ">
                    
                    
                    <p class="my-4">1- Vamos a inicio y damos clic sobre configuración</p>
                    <div class="d-flex justify-content-center"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604727962/usuario/configuracion_lbowlc.jpg" class="foto-respon-80" alt="inicio windows"></div>
                    
                    
                    <p class="my-4">2- Buscamos el icono de usuarios o cuentas</p> 
                    <div class="d-flex justify-content-center"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604727963/usuario/cuentas_dbsyls.jpg" class="foto-respon-80" alt="windows menu usuario"></div>
                    
                    <p class="my-4">3- Buscamos otros usuarios y agregar otra persona a este equipo</p>
                    <div class="d-flex justify-content-center"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604727965/usuario/cuenta-user-3_ki0ddr.jpg" class="foto-respon-80" alt="windows add user"></div>
                    
                    <p class="my-4">4- En este punto si la persona tiene correo con Microsoft, lo introducimos de lo contrario vamos a crear una cuenta local seleccionando la opción de <em>No tengo los datos de inicio de sesión de esta persona</em> </p> 


                    <p class="border-y mx-5 my-5 "><a href="https://support.microsoft.com/es-es/windows/agregar-o-quitar-cuentas-en-tu-pc-104dc19f-6430-4b49-6a2b-e4dbd1dcdf32" target="_blank" rel="noopener" class="pie-nota cursive "> <strong class="l-red">Nota:</strong> Si necesita crear cuenta con un direccion de correo, te adjunto este enlace</a></p>
                    
                    <div class="d-flex justify-content-center"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604727963/usuario/cuenta-user-4_suzjat.jpg" class="foto-respon-80" alt="windows user sin cuenta de session"></div>
                    
                    
                    <p class="my-4">5- Seleccionamos la última opción <em>Agregar un usuario sin cuenta Microsoft y llenamos los datos</em> </p> 
                    <div class="d-flex justify-content-center"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604727965/usuario/cuenta-user-5_dp3wj0.jpg" class="foto-respon-80" alt="windows user inicio session"></div>
                    
                    <p class="my-4">6- Llenamos los datos y marcamos el boton de siguiente.</p>
                    <div class="d-flex justify-content-center"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604727965/usuario/cuenta-user-6_yeixaq.jpg" class="foto-respon-80" alt="windows datos user nuevo"></div>
                    
                    <p class="my-4">7-Recuerda que la primera vez que carga el escritorio es más lento de lo habitual ya que el sistema tiene que cargar y crear el nuevo entorno de escritorio.</p>
                </div>

                <div class="box-white border-t">
                        <h4 class="text-center l-red-n mb-5">Como activar la cuenta de invitado en Windows 10</h4>
                    </div> 
                <div class="box-trasp border-b box-trasp mb-5">
                       
                        <p>
                            1-Buscamos en “MI PC” 
                        </p>
                        <p>
                            2-Damos clic sobre el submenú administrar
                        </p>
                        <p>
                            3-Doble clic sobre usuarios y luego clic en la subcarpeta de usuarios
                        </p>
                        <p>
                            Posteriormente necesitamos crear un nuevo usuario y cambiar el roll de usuario a invitado, ver video adjunto
                        </p>
                        <div class="d-flex justify-content-center">
                            <iframe width="1024" height="602" src="https://www.youtube.com/embed/oYGDzomkh30" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>
                        </div>
                        
                    
                </div>


               
                <%- include('../../partials/coment') %>

                <%- include('../../masnotas') %>

            


                
                

           




        </div>








        <!--texto lateral derecho-->
        <div class="col-sm-12 col-md-2">

        </div>
    </div>
</div>



<%- include('../../partials/footer') %>